<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BatonPass</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/imgs/favicon-32x32.png" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />

  <link href="./css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="../../dist/output.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gelasio&display=swap" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
  <header class="navbar justify-content-start">
    <div class="text-center col-3">
      <a href="/feed"><img src="./imgs/cover.png" style="height: 50px;"></a>
    </div>
    <div class="text-center col-1">
      <a href="/profile" class="text-decoration-none">Profile</a>
    </div>
    <div class="position-relative text-center col-1">
      <a href="/feed" class="text-decoration-none">Gigs
        <%if (currUser.contactPending.length){ %>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            <%= currUser.contactPending.length %>
              <span class="visually-hidden">pending connections</span>
              <% }%>
      </a>

    </div>
    <% if (currUser.isOrg) { %>
      <div class="text-center col-1">
        <a href="/profile" class="text-decoration-none">Posts</a>
      </div>
      <% } %>
  </header>

  <hr class="m-0">
</body>

</html>