<%- include('../partials/header') -%>

    <main class="bg-stone-200 h-screen h-auto pb-24">

        <% if (currUser.isOrg) {%>
            <%- include('./connectionsPartials/musicianInfo') -%>
                <% } else { %>
                    <%- include('./connectionsPartials/orgInfo') -%>
                        <% } %>

    </main>

    <%- include('../partials/footer') -%>