<%- include('../partials/header') -%>

<main class="bg-stone-200 xl:h-screen h-auto ">
    
<% if (currUser.isOrg) {%>
    <%- include('./connectionsPartials/musicianInfo') -%>
<% } else { %>
    <%- include('./connectionsPartials/orgInfo') -%>
<% } %>

</main>

<%- include('../partials/footer') -%>