/**/
header {
    position:absolute;
    z-index: 3;
    width: 100%;
}
/**/
body{
    background-color: #F3F2EF;
    font-family: 'Poppins', serif;
}

/*Background imgs*/
.index {
    height: 100vh;
    position: relative; 
}

.index::before{    
    content: "";
    background-image: url('../imgs/indexBG.jpg');
    background-size: auto;
    background-position-y: 50%;
    background-position-x: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .8;
    height: 100vh;
}

.index-content{
    padding-top: 12.5%;
    position:relative;
    height: 100vh;
}

.slogan {
    margin-bottom: 70px;
}

.login {
    height: 80vh;
}

.login::before{    
    content: "";
    background-image: url('../imgs/indexBG.jpg');
    background-size: auto;
    background-position-y: 50%;
    background-position-x: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .8;
}

.login-content{
    position:relative;
}

.signup {
    height: 120vh;
    background-size: cover;
    color: white;
}

.signup::before{    
    content: "";
    background-image: url('../imgs/signupBG.jpg');
    background-position-y: 40%;
    background-position-x: 40%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .7;
    height: 120vh;
}

.signup-content{
    position:relative;
}

.userGreeting {
    margin: 150px 0 150px 0;
}

.userGreeting h1 {
    color:rgb(54,63,204);
}